body{
    background-image: url("./images/Background.jpg");
    background-repeat: round;
    background-color: #ffffffba;
    background-blend-mode: overlay
}

h1{
    font-family: 'Jacques Francois Shadow', cursive;
    text-align: center;
    font-size: 50px;
}
h2{
    text-align: center;
    font-family: 'Merienda', cursive;
    font-weight: 700;
}

h3{
    text-align: center;
    font-family: 'Merienda', cursive;
    padding-bottom: 1rem;
    padding-top: 1rem;
    box-sizing: content-box;
}

section{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

p{
    text-align: justify;
    font-family: 'Crimson Text';
    font-size: 1.2rem;
}

.container-fluid{
    justify-content: space-evenly !important;
}

.nav-link:hover{
    background-color: #c8c2d30d;
    border-radius: 15px;
}

.blockquote{
    background-color: rgb(1 1 22 / 79%);
    color: whitesmoke;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.blockquote-footer{
    font-weight: 500;
    color: black;
}

.select{
    color: #d3215d;
    padding-right: 0.35rem;
}

.class{
    color: #e9c92e;
    padding-right: 0.35rem;
}

.id{
    color: #2ee945;
    padding-right: 0.35rem;
}

.attribute{
    color: #e2860e;
    padding-right: 0.15rem;
    padding-left: 0.15rem;
}

.property{
    padding-left: 1.3rem;
    color: #a3249f;
    padding-right: 0.25rem;
    font-style: italic;
}

.val{
    padding-right: 0.25rem;
    color: aqua;
}

.center{
    text-align: center !important;
}